
body {
    display: flex;
    justify-content: center;
    background-color: #1e81b0;
}

.container {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.logo-slogan {
    width: 340px;
    height: 400px;
    background-color: whitesmoke;
    background-image: url(wimage.png);
    border: 1px solid black;
}

.login-signup {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Login Square */
.login {
    height: 140px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.login-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

/* Signup Square */
.signup {
    height: 250px;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}

.label-input-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.signup-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

label {
    width: 40%;
    text-align: left;
}

input {
    width: 50%;
}

select {
    width: 50%
}

h2 {
    margin-top: 12px;
    height: 15px;
}

